html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  line-height: 1;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

p, a {
  font-family: "Arial";
}

.container {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1440px;
  min-width: 320px;
}

.lock {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header:before {
  content: "";
  top: -1;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #40916C;
  z-index: 2;
}
.header__burger {
  display: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header__burger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__burger:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__burger:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}
.header__logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #E5FFE9;
  text-align: center;
  position: relative;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__logo:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__logo:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  position: relative;
  z-index: 2;
}
.header__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #E5FFE9;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
.header__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__link:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.page {
  padding-top: 80px;
}
.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.page__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1B4332;
  text-align: center;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
.page__title-light {
  color: #40916C;
}
.page__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #1B4332;
  text-align: center;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
.page__img {
  min-width: 280px;
  max-width: 460px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.about {
  padding-top: 50px;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #1B4332;
  text-align: center;
  margin-bottom: 20px;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.about__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__img {
  display: none;
  min-width: 280px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.about__img_active {
  display: block;
}
.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  cursor: pointer;
}
.about__button {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.about__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about__button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about__button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.about__text-box {
  max-width: 400px;
}
.about__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1B4332;
  margin-bottom: 10px;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
.about__text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  color: #1B4332;
  text-align: justify;
  max-width: 65ch;
  line-height: 1.5;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

[class*=copyrights-pane] {
  display: none !important;
}

.ymaps-2-1-79-copyright__logo {
  display: none;
}

.address {
  padding-top: 50px;
}
.address__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #1B4332;
  text-align: center;
  margin-bottom: 20px;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
.address__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #1B4332;
  text-align: center;
  margin-bottom: 20px;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
.address__map {
  width: 100%;
  height: 300px;
  background-color: #40916C;
}

.contacts {
  margin-top: 50px;
  margin-bottom: 100px;
}
.contacts__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #1B4332;
  text-align: center;
  margin-bottom: 20px;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
.contacts__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.contacts__number {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #1B4332;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
.contacts__number:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contacts__number:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contacts__number:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer {
  background-color: #1B4332;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__wrapper {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;
  gap: 30px;
}
.footer__logo {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #E5FFE9;
  text-align: center;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
.footer__address {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #E5FFE9;
  text-align: center;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
.footer__number {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #E5FFE9;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
.footer__number:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__number:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__number:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #E5FFE9;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #E5FFE9;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E5FFE9;
    padding-top: 80px;
    padding-left: 20px;
    opacity: 0.9;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .header__link {
    color: #1B4332;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .page__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page__title {
    font-size: 2.5rem;
  }
  .page__text {
    font-size: 1.75rem;
  }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page__img {
    max-width: 280px;
  }
  .about__img {
    max-width: 500px;
  }
  .about__text {
    font-size: 1rem;
  }
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0px 60px;
  }
  .main {
    padding-top: 80px;
  }
  .page__img {
    max-width: 300px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0px 100px;
  }
  .page {
    padding-top: 100px;
  }
  .page__title {
    font-size: 3rem;
  }
  .page__text {
    font-size: 2rem;
  }
  .page__img {
    max-width: 340px;
  }
  .about {
    padding-top: 100px;
  }
  .about__title {
    font-size: 2.5rem;
  }
  .about__button {
    width: 45px;
    height: 45px;
  }
  .about__text {
    font-size: 1.125rem;
  }
  .address {
    padding-top: 100px;
  }
  .address__title {
    font-size: 2.5rem;
  }
  .address__text {
    font-size: 1.5rem;
  }
  .contacts {
    margin-top: 100px;
  }
  .contacts__title {
    font-size: 2.5rem;
  }
  .contacts__number {
    font-size: 1.5rem;
  }
}
@media (min-width: 1920px) {
  .container {
    padding: 0px 100px;
  }
  .main {
    padding-top: 80px;
  }
  .page__img {
    max-width: 380px;
  }
}